#!/usr/bin/env bash
set -o pipefail

{{ ansible_managed | comment }}

### player-control — utility script to control media player
###
### Usage:
###   player-control <player> <command>
###
### Options:
###   <player>    Media player in use
###   <command>   Command to be performed in the media player

name="$1"
shift
PATHS="org.mpris.MediaPlayer2.$name /org/mpris/MediaPlayer2"
DBUS_SEND="dbus-send --type=method_call --dest=$PATHS"
RC="$DBUS_SEND org.mpris.MediaPlayer2.Player"
if [[ "$@" = "prev" ]]; then
    $RC.Previous
elif [[ "$@" = "stop" ]]; then
    pkill $name
elif [[ "$@" = "toggle" ]]; then
    $RC.PlayPause
elif [[ "$@" = "next" ]]; then
    $RC.Next
else
    echo "Command not found for player $name: $@" 1>&2
    exit 1
fi
