{{ ansible_managed | comment }}

[Unit]
Description=Spotifyd
After=network.target

[Service]
User={{ media_spotifyd_user }}
ExecStart=/usr/bin/dbus-run-session /usr/local/bin/spotifyd --no-daemon --config-path {{ media_spotifyd_configuration }}/spotifyd.conf
Restart=always

[Install]
WantedBy=multi-user.target
